@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono&display=swap');

body{
    padding: 0;
    margin: 0;  
}
Header{
    height: 100vh;
    border-bottom: solid #2E6171;
}

/* Navbar */
nav{
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    background-color: #EDF5F8;
    border-bottom: solid #2E6171;
}
nav a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(52, 39, 39);
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
/* Product */

.title{
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;
    color: #244C58;
}

.section1{
    font-family: 'Roboto Mono', monospace;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}
.right1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        padding: 5rem;
}
.left1{
    width: 50vw;
}
.price{
    font-size: 2rem;
    font-weight: 600;
}
.productimg{
    width: 100%;
}
.description{
    margin-bottom: 2rem;
}
button{
    background: #448FA6;
    border: 0;
    color: white;
    font-weight: 600;
    padding: 1em 1.5em;
    width: 50%;
}

/* Section 2 */
.section2{
   display:flex;
   flex-direction: row;
   padding: 5rem;
}
/* Links */
.left2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C9E2E9;
    width: 20vw;
    height: 20vh;
}
h3{
    padding-left: 1rem;
    font-weight: 600;
    color: #244C58;
}
.plus{
    padding-left: 1rem;
    list-style: none;
    color: green;

}
.min {
    padding-left: 1rem;
    list-style: none;
    color: red;

}
span{
    color: #2B5A68;
    padding-left: 1rem;
}
/* Rechts */

.title2{
    font-size: 3rem;
    margin: 0;
    color: #244C58
}

.right2{
    padding-left: 5rem;
}
