@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono&display=swap');

body{
    padding: 0;
    margin: 0;  
}


/* Navbar */
nav{
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    background-color: #EDF5F8;
    border-bottom: solid #2E6171;
}
nav a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(52, 39, 39);
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
/* Product */

.title{
    font-weight: 600;
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;
    color: #244C58;
    margin-block-start: 0em;
}

.section1{
    padding: 3rem;
    height: 80vh;
    border-bottom: solid #2E6171;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        padding: 5rem;
}
.left1{
    width: 50vw;
}
.price{
    font-size: 2rem;
    font-weight: 600;
}
.productimg{
    width: 100%;
}
.description{
    margin-bottom: 2rem;
}
button{
    background: #448FA6;
    border: 0;
    color: white;
    font-weight: 600;
    padding: 1em 1.5em;
    width: 50%;
}

/* Section 2 */
.section2{
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 50vh;
   padding: 5rem;
   font-family: 'Roboto Mono', monospace;
}
/* Links */
.left2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C9E2E9;
    width: 25vw;
    height: 25vh;
   
}
h3{
    padding-left: 2rem;
    font-weight: 600;
    font-size: 2rem;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
    color: #244C58;
}
.plus{
    padding-left: 2rem;
    list-style: none;
    color: green;

}
.min {
    padding-left: 2rem;
    list-style: none;
    color: red;

}
span{
    color: #2B5A68;
    padding-left: 1rem;
    font-size: 1.2rem;
}
/* Rechts */

.title2{
    font-size: 3rem;
    margin: 0;
    color: #244C58;
    font-family: 'Roboto Mono', monospace;

}

.right2{
    padding-inline-start: 5rem;
}

.right2 p{
    font-weight: 400;
    font-size: 1rem;
    width: 50vw;
    text-align: justify;
   
}


/* Gerelateerd */
.section3{
    font-family: 'Roboto Mono', monospace;
    background-color: #dbe7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2B5A68;

}
.s3title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    color: #244C58;
}

/* grid */
.container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
}
.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p{
    text-align: justify;
    width: 75%;
    font-size: 0.8rem;
}
.container img{
    width: 25%;
}
.grid{
    grid-column: 2;
}

.prodTitle{
    font-size: 2rem;
    margin-block-end: 0.5em;
    margin-block-start: 1em;
}

/* footer */

footer{
  background-color: #11313b;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
footer a{
    text-decoration: none;
    color:#C9E2E9;
    filter: brightness(80%);
}