@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono&display=swap');

body{
    padding: 0;
    margin: 0;  
}
/* Navbar */
nav{
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    background-color: #EDF5F8;
    border-bottom: solid black;
}
nav a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(52, 39, 39);
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
/* Product */

.titel{
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 2rem;
}

.section1{
    font-family: 'Roboto Mono', monospace;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}
.right1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        padding: 5rem;
}
.left1{
    width: 50vw;
}
.prijs{
    font-size: 2rem;
    font-weight: 600;
}
.productimg{
    width: 100%;
}
.description{
    margin-bottom: 2rem;
}
button{
    background: #448FA6;
    border: 0;
    color: white;
    font-weight: 600;
    padding: 1em 1.5em;
    width: 50%;
}